<p>
  person works!
</p>

<!--<form #f="ngForm" (ngSubmit)="personSubmit(f.value)">-->
<!--<div>-->
  <!--<input type="text" name="imie" ngModel>-->
<!--</div>-->
  <!--<div>-->
    <!--<input type="text" name="nazwisko" ngModel>-->
  <!--</div>-->
  <!--<button type="submit">Ok</button>-->
<!--</form>-->

<form [formGroup]="myForm" (ngSubmit)="personSubmit(myForm.value)">
<div>
  <input type="text" placeholder="imie" name="imie" [formControl]="myForm.controls['imie']">
  <div *ngIf="imie.hasError('required')">Imię wymagane</div>
</div>
<div>
  <input type="text" placeholder="nazwisko" name="nazwisko" [formControl]="myForm.controls['nazwisko']">
  <div *ngIf="nazwisko.hasError('malaLitera')">Nazwisko wielką literą</div>
  <div *ngIf="nazwisko.hasError('required')">Nazwisko wymagane</div>

</div>
  <button type="submit">Ok</button>
</form>
